
/* 
    Created on : 24/09/2016, 06:20:34 AM
    Author     : ricardo
*/

body {
    background-image: url('../imagenes/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: center;
}

img {
    margin-left: 480px;
}

#slogan {
    text-align:center;
    color: #1425A4;
    font-size:170%;
}

#nuevo {
    color:blue;
    font-size:150%;
    text-align:center;
}

#registrarte {
    color:#1D14A4;
    font-size:130%;
    text-align:center;
}

#evaluatest {
    color:blue;
    font-size:150%;
}

#password {
    margin-left:1cm;
}

